<%- include('header'); -%>
<main>
<div class="top-nav">
  <div class="user-name-and-search">
      <div class="logo">
        <div class="action-header-logo">
            <img src="./K-for-kepas-2.jpg" alt="logo">
            
        </div>
    </div>
    <ul class="tiop-nav-actions">
        <li><a href="/"> dashboard</a></li>
        <li><a href="./sendmoney"> send or withdraw</a></li>
        <li><a href="./wallet" class="active-link"> wallet</a></li>
        <li><a href="./activity"> activity</a></li>
        <li><a href="./help"> help</a></li>
    </ul>
      <div class="search">
        <a href="./notifications" class="link-1" id="notifications-closed">
            <div class="notifications">
                <span class="notification-count">2</span>
                <span class="bell-icon"><i class="fas fa-bell"></i></span>
            </div>
        </a>

        <a href="./account" class="link-1" id="my-account-closed">
            <div class="user-account-details dropbtn" onclick="showUserProfileMenu()">
                <span class="user-icon"><i class="fas fa-user"></i></span>
                
            </div>
        </a>
      </div>
  </div>
</div>

<div class="modal__details">
  <div class="withdraw">
    <div class="user-user-field">
      <form id="withdraw_my_wallet" method="POST">
          <% if(typeof msg != 'undefined'){ %>
          <div class="success-msg"><%= msg %></div><% }
          if(typeof error !== 'undefined'){ %>
          <div class="err-msg"><%= error %></div><% } %>
          <fieldset>
          <div class="wallet__modal">
              <div class="modal__details">
                <h4 class="modal__title">My Wallet</h4>
                <p class="modal__description">
                  <small>Balance</small>
                  <div class="balance-value wallet" id="user_bal"> Ksh <%= Intl.NumberFormat('en-US', { style: 'currency',currency: 'KES'}).format(user.income).slice(4) %><span></span></div>
                  <input type="number" name="walletAmount">
                  <input type="password" name="walletPassword" autocomplete="on"> 
                </p>
              </div>
              <br>
              <button type="submit" class="wallet-btn">Send to local account &rarr;</button>
          </div>
          </fieldset>
      </form>
      </div>
</div>
</div>

</main>
<%- include('footerContent'); -%>
<%- include('footer'); -%>



